@use '@/styles/breakpoints' as b;

.header {
  height: 64px;

  position: sticky;
  top: 0;
  z-index: 1000;

  background-color: var(--color-header-bg);

  &__body {
    @include box(100%, 100%);
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    @media (min-width: b.$tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__logo {
    @include flex-center;
    justify-content: start;
    gap: var(--space-s);

    &-link {
      @include flex-center;
      justify-content: start;
      gap: var(--space-s);
    }
  }

  &__burgerMenu {
    @media (min-width: b.$tablet) {
      display: none;
    }
  }

  &__navigation {
    display: none;

    &_current {
      box-shadow: 0 3px 0 0 var(--color-text-accent);
    }

    &-link {
      height: 100%;
      padding: 0;
      display: flex;
      align-items: center;
    }

    @media (min-width: b.$tablet) {
      display: flex;
      justify-content: center;
      gap: var(--space-m);
      height: 100%;
    }
  }

  &__navigationMobile {
    position: absolute;
    top: 100%;
    right: 0;
    width: 60%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--color-header-bg);
    z-index: 999;

    @media (min-width: b.$tablet) {
      display: none;
    }
  }

  &__navigationMobile &__navigation-link {
    padding: var(--space-xl);
    height: 40px;
  }

  &__navigationMobile &__navigation_current {
    background-color: var(--color-text-accent);
  }

  &__user {
    display: none;
    @media (min-width: b.$tablet) {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: var(--space-s);
    }
  }

  &__userMobile {
    padding: var(--space-xl);
    display: flex;
    align-items: center;
    gap: var(--space-s);

    @media (min-width: b.$tablet) {
      display: none;
    }
  }

  &__burgerContainer {
    @include flex-center;
    justify-content: end;
    gap: var(--space-s);

    @media (min-width: b.$tablet) {
      display: none;
    }
  }
}
