.pagination {
  padding: var(--space-m) var(--space-pagination);
  display: flex;
  justify-content: space-between;
  align-items: center;

  user-select: none;

  &__arrow {
    &-l {
      transform: rotate(90deg);
    }

    &-r {
      transform: rotate(-90deg);
    }
  }

  &__numbers {
    padding: var(--space-m) 0;
    @include flex-center;
    gap: var(--space-l);
  }

  &__number {
    @include box(var(--width-pagination), var(--height-pagination));
    @include flex-center;

    &-current {
      background-color: var(--color-button-primary-bg);
    }
  }

  &__arrow,
  &__number {
    cursor: pointer;

    &_disabled,
    &-current,
    &-points {
      cursor: default;
      pointer-events: none;
    }
  }
}
