.patternDetails {
  padding: var(--space-l) 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);

  &__body {
    padding: var(--space-m) 0;
    display: flex;
    flex-direction: var(--flex-direction);
    gap: var(--space-xxl);
  }

  &__cover {
    @include box(var(--cover-width), var(--cover-width));
    height: 100%;
    object-fit: contain;
    border-radius: var(--border-radius-element);
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__widgets {
    display: flex;
    flex-direction: row;
  }

  &__actions {
    @include flex-center;
    gap: var(--space-xs);
  }

  &__description {
    padding: var(--space-m);
    background-color: var(--color-text-bg);

    border-radius: var(--border-radius-element);
  }
}
