@mixin box($sizeX, $sizeY) {
  width: $sizeX;
  height: $sizeY;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin circle {
  border-radius: 50%;
}
