.video {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  display: block;
  border-radius: var(--border-radius-element);

  &__img {
    @include box(100%, 290px);
    object-fit: contain;
  }

  &__empty {
    padding: var(--space-xl) 0;
    @include flex-center;
    gap: var(--space-m);
    flex-direction: column;
  }
}
